.banner-section {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 195px 0;
    margin-top:-114px;
    margin-bottom:60px;

    h1 {
      font-size:450px;
      text-align: center;
      font-weight:bold;
      color: #575153;
      letter-spacing:55px;
    }

    button {
      float: right;
      margin-right: 320px;
    }
}

@media (max-width:1540px) {

  .banner-section {

    h1 {
      font-size: 400px;
    }

  }

}

@media (max-width:1405px) {

  .banner-section {

    h1 {
      font-size: 350px;
    }

    button {
      margin-right: 200px;
    }

  }

}

@media (max-width:1266px) {

  .banner-section {

    h1 {
      font-size: 300px;
    }

    button {
      margin-right: 150px;
    }

  }

}

@media (max-width:1130px) {

  .banner-section {

    h1 {
      font-size: 250px;
    }

    button {
      margin-right: 100px;
    }

  }

}

@media (max-width: 2050px) {
  .banner-section {
    background-position: 50% 50%;
  }
}

@media (max-width:1140px) {

  .banner-section {
    background-position: 35% 50%;
  }

}

