.banner-section {
    background-size: cover;
    background-repeat: no-repeat;
    padding: 195px 0;
    margin-top:-114px;
    clear: both;

    h1 {
      font-size:450px;
      text-align: center;
      font-weight:bold;
      color: #575153;
      letter-spacing:55px;
    }

    button {
      float: right;
      margin-right: 320px;
    }
    
}

@media (max-width:1560px) {

  .banner-section {

    h1 {
      font-size: 300px;
    }

  }

}

@media (max-width:1405px) {

  .banner-section {

    button {
      margin-right: 200px;
    }

  }

}

@media (max-width:1266px) {

  .banner-section {

    button {
      margin-right: 150px;
    }

  }

}

@media (max-width:1147px) {

  .banner-section {

    h1 {
      font-size: 150px;
    }

    button {
      margin-right: 100px;
    }

  }

}

@media (max-width: 2050px) {

  .banner-section {
    background-position: 50% 50%;
  }

}

@media (max-width:1140px) {

  .banner-section {
    background-position: 35% 50%;
  }

}

@media (max-width: 991px) {

  .banner-section {
    margin-top: -120px;
    background-position: 15% 50%;
  }

}


@media (max-width: 735px) {

  .banner-section {
    & h1 {
      font-size: 100px;
      letter-spacing: 45px;
    }

  }

}

@media (max-width: 580px) {

  .banner-section {
    & h1 {
      font-size: 70px;
      letter-spacing: 25px;
    }

    & button {
      font-size: 12px;
      margin-right: 0px;
      padding: 13.5px 30px;
    }

  }

}

@media (max-width: 365px) {

  .banner-section {
    & h1 {
      font-size: 60px;
      letter-spacing: 15px;
    }

  }

}

