.content-blocks {

  & .content-block-wrapper {
      padding: 15px;
    }

  .content-block {

    &-item {
      background: #f8f8f8;
      position: relative;
      padding: 55px 55px 0 0;

      &-image {
        width: 50%;

        & img {
         width: 100%;
         height: 100%;
        }

      }

      &-wrapper {
        z-index: 2;
        width: 50%;
        padding: 35px 0 140px 0;
      }

      &-description {

        & h3 {
          text-transform: uppercase;
          font-size: 48px;
          color: #575153;
          font-weight: bold;

          & span {
            display: block;
            font-weight: 300;

          }

        }

        & p {
            font-family: 'roboto';
            color: #727272;
            font-size: 15px;
            line-height: 20px;
          }

      }
      &-button {
        padding-top: 15px;

        & button {
          padding: 16px 41px;
        }

      }

    }

  }
  
}

.content-section {
  padding: 60px 0 50px 0;
}

@media (min-width: 991px) and (max-width: 1920px) {
  .content-blocks {

    .content-block {

      &-item {
        background: #333;
        padding: 150px 0 170px;


        &-image {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          opacity: 0.3;
        }

        &-wrapper {
          width: 100%;
          padding: 30px;
        }

        &-button {
          & button {
            color: #fff;
            border-color: #fff;

            &:hover {
              border-color: #00c8c8;
            }
          }

        }

      }

    }

   .content-block-item-description {

      h3 {
        color: #fff;
      }

      p {
        color: #fff;
      }

    }

  }

}

@media (min-width: 991px) and (max-width: 1400px) {

  .content-blocks {

    .content-block-item {
      padding: 70px 0 90px 0;

      &-description {

        h3 {
          font-size: 32px;
        }

        p {
          font-size: 12px;
        }

      }

    }

  }

}

@media (min-width: 320px) and (max-width: 650px) {
  .content-blocks {

    .content-block {

      &-item {
        background: #333;
        padding: 120px 0 140px;

        &-image {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          width: 100%;
          opacity: 0.3;
        }

        &-wrapper {
          width: 100%;
          padding: 30px;
        }

        &-button {
          & button {
            color: #fff;
            border-color: #fff;

            &:hover {
              border-color: #00c8c8;
            }
          }

        }

      }

    }

   .content-block-item-description {

      h3 {
        color: #fff;
        font-size: 32px;
      }

      p {
        color: #fff;
        font-size: 12px;
      }

    }

  }

}