.header {

  &-top {
    padding: 13px 0;
  }

  &-bar {
      background: #333;
    }


  &-valuet-block {
    position: relative;

    & span {
      color: #777;
    }

     &::before {
        position: absolute;
        right: 0;
        top: 45%;
        transform: translateY(-50%);
        font-size: 13px;
        color: #777;
      }

    &-select {
      position: relative;
      background: transparent;
      border: transparent;
      color: #777;
      width: 50px;
    }

  }

  &-user-panel {

    &-log {
      padding: 0 80px 0 0;

      & ul {
        list-style: none;

        & li {

          &:not(:first-child) {
          padding: 0 0 0 30px;
        }

          & a {
            color: #999;
            text-decoration: none;
            transition: color 0.3s linear;

            &:hover {
              color: #00c8c8;
            }
          }

        }

      }

    }
    &-basket {
        margin: -13px 0;

      &-drop-button {
        height: 100%;

        & .drop-button {
          background: none;
          border-radius: 0;
          border: none;
          padding: 10px 43px 10px 60px;
          font-size: 13px;
          position: relative;
          background: #00c8c8;
          color: #fff;

          &::before {
            position: absolute;
            left: 20px;
            font-size: 20px;
            top: 50%;
            transform: translateY(-50%);
          }

          &::after {
            display: none;
          }

          & span::before {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 13px;
          }

          &:hover {
            background-color: #ff0000;
          }

        }

        & .dropdown-menu {
            padding: 30px;
            & h3 {
              font-size: 18px;
              text-align: center;

            }
          }

      }

    }

  }

  &-bottom {
    z-index: 10;
    padding: 35px 0px;
    background: #f8f8f8;

    &-nav-menu {
      z-index: 10;

      &-item {
        padding: 0 30px 0 0;

        &-main-link {
          color: #303030;
          font-weight: bold;
          text-transform: uppercase;
          position: relative;
          padding: 5px 0px 20px 0px;
          border-radius: 0;
          transition: color 0.3s;
          text-decoration: none;
          background: transparent;

          &:hover {
            color: #00c8c8;
          }

          &::after {
            display: none !important;
          }

          &::before {
            border: none;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            margin: 0;
            font-size: 13px;
            left: -5px;
            text-decoration: none;
            color: #ababab;
          }

          &:hover::before {
            color: #00c8c8;
          }

        }

        &-drop {

          border-radius: 0;
          padding: 30px;
          top: 20px !important;
          box-shadow: 0px 17px 24px 0px rgba(0, 0, 0, 0.14);

          &-1 {
            width: 45%;

            & h3 {
              text-transform: uppercase;
              font-size: 12px;
              color:#575153;
              font-weight: bold;
              margin-bottom: 30px;
            }

            & ul {
              list-style: none;
              padding: 0;
              margin: 0;

              & li {

                &:not(:last-child) {
                padding:0 0 10px 0;
              }

                & a {
                  font-size: 14px;
                  color:#727272;
                  display: block;
                  font-weight:300;
                }

              }

            }

          }

          &-wrapper {
            padding: 0 0 60px 0;
          }

        }

        &-main-link-static::after {
          display: none;
        }

      }

      &-search {
        align-items: flex-start;
        position: relative;

        & input {
          border-radius: 0;
          padding: 4.5px 35px 4.5px 10px;
          position: relative;
          width: 190px;
          font-weight: 300;
          border: 1px solid #e7e7e7;
          color: #989898;
          font-size: 13px;
        }

        & button {
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          background-color: transparent;
          width: 30px;
          height: 30px;
          font-size: 14px;
          color: #989898;
          padding: 0;
        }

      }

    }

       .show  .header-bottom-nav-menu-item-main-link::before {
      position: absolute;
      left: 0;
      left: -5px;
      bottom: 0;
      color: #00c8c8;
    }

    .dropdown-menu.show {
      display: flex !important;
      flex-direction: column;
    }

  }

}

@media (max-width: 1180px) {

  .header-bottom-nav-menu-item {
    padding: 0 20px 0 0;
  }

}

@media (max-width: 991px) {

  .header-bottom-nav-menu-item {
    padding: 0 20px 0 20px;
  }

  .header {

    &-bottom {

      &-nav-menu {
        justify-content: flex-start;
        padding: 200px 0 15px;
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f8f8f8;
        flex-direction: column;
        overflow-y: auto;
        transition: 0.3s transform linear;

        & ul {
          flex-direction: column;
          flex-wrap: nowrap;
          margin: 0 0 30px;
          flex-shrink: 0;
        }

        &-item {
          border-bottom: 1px solid #eee;

          &-main-link {
            padding: 15px 0;

            &:before {
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              left: inherit;
              bottom: inherit;
              color: #333;
            }

          }

          &-drop {
            position: static !important;
            transform: translate3d(0, 0, 0) !important;
            margin: 0 -20px;
            box-shadow: 0 0 0 0;
            float: none;
            border-top: 1px solid #eee;
            border-right: none;
            border-left: none;
            min-width: 100%;
          }

        }

        &-search {
          width: 70%;
          margin: 0 auto 30px auto;
          flex-shrink: 0;


          & input {
            width: 100%;
            padding: 14px 50px 14px 10px;
          }

          & button {
            height: auto;
            width: 50px;
          }

        }

      }

    }

  }

  .show  .header-bottom-nav-menu-item-main-link::before {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      color: #00c8c8;
      left: auto !important;
      bottom: inherit !important;
    }

}

.active-nav {
  overflow: hidden;

  .header-bottom-nav-menu {
    transform: translateX(0);
    background-color: #00c8c8;

    & ul {
      background-color: #fff;
    }

  }

  .burger-menu-button {
    z-index: 20;

    & span {
      background-color: #fff;
    }

  }

}

@media (max-width: 560px) {

  .header-user-panel-log {
    padding: 0 30px 0 0;

    & ul {

      & li:not(:first-child) {
        padding: 0 0 0 15px;
      }

    }

  }

}

@media (max-width: 370px) {

  & .logo {
      width: 75%;
    }

}

@media (max-width: 455px) {
  .header-user-panel-basket-drop-button {
    .drop-button {
      font-size: 0;
      padding: 10px 20px 10px 20px;

      &:before {
        left: 50%;
        transform: translate(-70%, -50%);
      }

        & span {

        &:before {
          display: none;
        }

      }

    }

  }

  .header-user-panel-log ul li a {
    font-size: 11px;
  }

  .header-valuet-block span {
    font-size: 11px;
  }

  .header-user-panel-log {
    padding-right: 15px;
  }

}