.product-page-tabs-section {
  padding: 0 0 120px 0;

  & ul {
    background: #f8f8f8;
    margin: 0 0px 20px 0px;

    & li {
      padding-right: 60px;

      & a {
        color: #575153;
        font-size: 16px;
        text-transform: uppercase;
        padding: 13px 10px;
      }

    }

  }

  .tab-content-block {
    padding: 0 15px;
    display: block;

    & h3 {
      font-size: 15px;
      color: #727272;
    }

    & p {
      font-size: #969494;
    }
  }

}

@media (max-width: 991px) {

  .product-page-tabs-section {

    & ul {

      & li {
        padding-right: 0px;
      }

    }

  }

}